.nav {
	display: flex;
	flex-direction: row;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
}
.figure {
	margin: 0;
}
.link {
	color: var(--text-color);
	text-decoration: none;
	font-family: var(--primary-font);
	font-size: 1.2em;
	background: linear-gradient(
			to top,
			var(--thr-color) 0%,
			var(--thr-color) 1px,
			transparent 2px
		)
		no-repeat;

	background-size: 0 100%;
	transition: background-size .3s;
	@media screen and (max-width: 375px) {
		font-size: 0.8em;
	}
}
.active {
	color: var(--thr-color);
	text-decoration: none;
	font-family: var(--primary-font);
	font-size: 1.2em;
	background: linear-gradient(
			to top,
			var(--thr-color) 0%,
			var(--thr-color) 1px,
			transparent 2px
		)
		no-repeat;

	background-size: 100% 100%;
	@media screen and (max-width: 375px) {
		font-size: 0.8em;
	}
}

.link:hover {
	background-size: 100% 100%;
	color: var(--thr-color);
}

.logo {
	width: 3vw;
	border: solid 3px rgb(161, 25, 48);
}
.list {
	list-style: none;
	display: flex;
	gap: 3em;
	margin-right: 5vw;
	@media screen and (max-width: 375px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: center;
	}
}
.portrait {
	display: flex;
	align-items: center;
	gap: 2em;
	margin-left: 2em;
}
.h2 {
	color: var(--thr-color);
	font-family: var(--fou-font);
	font-size: 2.5em;
	letter-spacing: 2px;
	opacity: 90%;
	@media screen and (max-width: 375px) {
		font-size: 0.5em;
	}
}
.translate {
	width: 1.8vw;
	position: relative;
	bottom: 5vh;
}

.responsiveMenu {
	background-color: var(--h3-color);
	position: relative;
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1em 1em;
	border-radius: 15px;
	display: none;
	@media screen and (max-width: 375px) {
		display: block;
	}
}

.bar1 {
	border-radius: 30px;
	background-color: var(--text-color);
	width: 8vw;
	margin-bottom: 1em;

	height: 0.2em;
}

.bar2 {
	border-radius: 30px;
	background-color: var(--text-color);
	width: 8vw;
	position: absolute;

	height: 0.2em;
}

.bar3_h {
	border-radius: 30px;
	background-color: var(--text-color);
	width: 8vw;

	height: 0.2em;
}

.bar4 {
	border-radius: 30px;
	background-color: var(--text-color);
	width: 8vw;
	margin-top: 1em;

	height: 0.2em;
}
