.list {
	list-style: none;
	border: solid var(--text-color);
	width: 10vw;
	text-align: center;
	color: var(--bg-color);
	font-family: var(--primary-font);
	border-radius: 5px;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	background: linear-gradient(
			to bottom,
			var(--text-color) 0%,
			var(--text-color) 100%
		)
		no-repeat;
	background-size: 100% 100%;
	transition: background-size .7s;
}
.list:hover {
	background-size: 100% 0%;
	color: var(--text-color);
}
.skills {
	width: 25vw;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin: 4vh auto;
	justify-content: center;
	position: relative;
	right: 17vw;
	border-left: 1px solid var(--thr-color);
	padding-left: 10.5vw;
	padding-top: 8vh;
}

.h2 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-family: var(--primary-font);
	font-size: 10vw;
	color: var(--text-color);
	opacity: 10%;
	margin-left: 0;
	padding: 0;
}
.skillsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
}
