.footer {
  color: var(--text-color);
  font-family: var(--primary-font);
  width: 60vw;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: var(--thr-color);
}
