/* Mise en forme page  */

.h2 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-family: var(--primary-font);
	font-size: 8vw;
	color: var(--text-color);
	opacity: 10%;
	margin-right: 0;
	margin-top: 10vh;
}
.anchor {
	text-decoration: none;
	color: var(--thr-color);
}
.projectPage {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 10vh;
}
.project {
	border-left: 1px solid var(--thr-color);
	padding-left: 5vw;
}

/* L'enclos  */

.lenclos {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-top: 10vh;
	margin-bottom: 10vh;
	border-bottom: 1px solid var(--thr-color);
	padding-bottom: 10vh;
}
.h2Lenclos {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
}
.imgLenclos {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
}

.presentationEnclos {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
}

/* Un peu mieu */

.unPeuMieu {
	display: flex;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;
	border-bottom: 1px solid var(--thr-color);
	padding-bottom: 10vh;
}
.videoMieu {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
}

.h2Mieu {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
}
.presentationMieu {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
}

/* ALL STAR GAMES */
.allStar {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;
	border-bottom: 1px solid var(--thr-color);
	padding-bottom: 10vh;
}
.allStarVids {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
}
.h2AllStar {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
}
.presentationAllStar {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
}

/* BOADER GAMES */
.boarder {
	display: flex;

	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;
	border-bottom: 1px solid var(--thr-color);
	padding-bottom: 10vh;
}
.boarderVids {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
}
.h2Boarder {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
}
.presentationBoarder {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
}

/* Carotaine */
.carotaine {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;
	border-bottom: 1px solid var(--thr-color);
	padding-bottom: 10vh;
}
.imgCarotaine {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
}
.titleCarotaine {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
}
.presentationCarotaine {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
}

@keyframes smoothScale {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
