/* Mise en forme page  */

.h2 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-family: var(--primary-font);
	font-size: 8vw;
	color: var(--text-color);
	opacity: 10%;
	margin-right: 0;
	margin-top: 10vh;
	@media screen and (max-width: 760px) {
		display: none;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: none;
	}
}
.h2Project {
	font-family: var(--primary-font);
	color: var(--text-color);
	margin-bottom: 12vh;
	font-size: 4em;
	@media screen and (max-width: 760px) {
		font-size: 2em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 4.5em;
	}
}
.anchor {
	text-decoration: none;
	color: var(--thr-color);
}
.projectPage {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 10vh;
}
.project {
	border-left: 1px solid var(--thr-color);
	padding-left: 5vw;
	@media screen and (max-width: 760px) {
		padding-left: 6vw;
		position: relative;
		right: 1.5em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		padding-left: 6vw;
		position: relative;
		right: 1.5em;
	}
}

/* L'enclos  */

.lenclos {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-top: 10vh;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.h2Lenclos {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.imgLenclos {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;

	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}

.imgLenclos:hover {
	transform: scale(1.05);
}
.presentationEnclos {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}

/* Un peu mieu */

.unPeuMieu {
	display: flex;
	flex-direction: row;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.videoMieu {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}
.videoMieu:hover {
	transform: scale(1.05);
}

.h2Mieu {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.presentationMieu {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}

/* ALL STAR GAMES */
.allStar {
	display: flex;
	flex-direction: row;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.allStarVids {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}
.allStarVids:hover {
	transform: scale(1.05);
}
.h2AllStar {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.presentationAllStar {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}

/* BOADER GAMES */
.boarder {
	display: flex;

	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.boarderVids {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;
	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}
.boarderVids:hover {
	transform: scale(1.05);
}
.h2Boarder {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.presentationBoarder {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}

/* Carotaine */
.carotaine {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}

.imgCarotaine {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;

	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}
.imgCarotaine:hover {
	transform: scale(1.05);
}
.titleCarotaine {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.presentationCarotaine {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}

/* Eshop */

.eShop {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.imgShop {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;

	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}
.imgShop:hover {
	transform: scale(1.05);
}
.h2Shop {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.presentationShop {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}

/* todo */

.todo {
	display: flex;
	flex-direction: row-reverse;
	gap: 3em;
	align-items: center;
	margin-bottom: 10vh;

	padding-bottom: 10vh;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.imgTodo {
	width: 30vw;
	border-radius: 15px;
	animation: smoothScale 2s ease-out;

	@media screen and (max-width: 760px) {
		width: 75vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 75vw;
	}
}
.imgTodo:hover {
	transform: scale(1.05);
}
.h2Todo {
	font-family: var(--primary-font);
	color: var(--thr-color);
	width: 30vw;
	@media screen and (max-width: 760px) {
		font-size: 1em;
		width: 80vw;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		font-size: 1.8em;
		width: 80vw;
	}
}
.presentationTodo {
	width: 30vw;
	font-family: var(--thr-font);
	color: var(--text-color);
	@media screen and (max-width: 760px) {
		width: 80vw;
		text-align: center;
	}
	@media screen and (min-width: 761px) and (max-width: 1048px) {
		width: 80vw;
		text-align: center;
		font-size: 1.6em;
	}
}
@keyframes smoothScale {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
